{% if form.form_theme[0] == 'contacto' %}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!--section3-->
<div id="sec_maps" class="mod_contacto">
    <div class="form_contacto">
        <div class="cont_form_c">
            <div class="cont_inputs">
                <h2>escríbenos</h2>
                <h3>Nos contactaremos contigo a la brevedad.</h3>


                     {{ form.nombres }}
                     {{ form.apellidos }}
                     {{ form.dni }}
                     {{ form.telefono }}
                    {{ form.correo }}
                    {{ form.mensaje }}
                   <div class="cont_capcha">
                            <div class="terminos">
                                <span><input name="terminos" type="checkbox" value=""></span>
                            He leido y acepto la <a href="#">política de protección de datos personales. Términos y condiciones</a> 
                              <div class="message-error"></div>
                            </div>
                        <div class="g-recaptcha" data-sitekey="6LepH5EUAAAAAEu5ceqmfBLB5IM1mxa4gDXP83xH"></div>
                        </div>
                       
                    {{ form.enviar }}



                {#
                     <div class="form-group">
                         <input type="text" class="input_form form-control" name="telefono" placeholder="Teléfono / Celular">
                         <div class="message-error"></div>
                     </div>
                     <div class="form-group">
                         <input type="email" class="input_form form-control" name="email" placeholder="Correo Electrónico">
                         <div class="message-error"></div>
                     </div>
                     <div class="form-group">
                         <textarea name="textarea"cols="" rows=""  class="input_area form-control">Mensaje</textarea>
                         <div class="message-error"></div>
                     </div>

  

                     <input class="input_btn" type="submit" value="Enviar">
                 </form>#}
            </div>
            {% if form.apellidos is empty  %}
                <div class="cont_contfirmacion" style="">
                    <h3>¡Gracias por contactarnos!</h3>
                    <h4>Muy pronto nos comunicaremos contigo </h4>
                    <span class="o_mensaje"><a href="">ENVIAR OTRO MENSAJE</a></span>
                </div>
            {% endif %}
            <div>

            {{ form.form_build_id  }}
            {{ form.form_token  }}
            {{ form.form_id  }}
            </div>
        </div>
    </div>
    <figure>
        <img src="/themes/ulima/assets/img/contacto/signo.png"/>
    </figure>
</div>
{% else %}


    <div class="    charlas">
        <div class="ncarreras ">
            <div class="charlasxcarrera">
                {% set result = getOpenUlima() %}
                <div class="charlasxcarrera">

            <div class="titu_charla">

                <h2>Inscríbete en Charlas x Carrera</h2>

                <p>Ven con tu familia y amigos y resuelve todas tus dudas sobre la carrera que quieres seguir.

                    Selecciona la(s) carrera(s) de tu interés. (Vacantes limitadas).

                </p>

            </div>
            {% for item in result['items'] %}
                <div class="itemdiacharla">
                    {% if loop.index0 == '0' %}
                        <h4>{{ result['settings']['titulo1']|raw  }}</h4>
                    {% endif %}
                    <h2>{{ item['fecha']  }}</h2>
                    <div class="cont_itemcharla">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr class="headcha">
                                <td class="cha1">CHARLAS X CARRERA</td>
                                <td class="cha2">HORARIOS</td>
                            </tr>
                            {% for itemc in item['carreras'] %}
                                <tr>
                                    <td class="cha3"> {{ itemc['nombre'] }} </td>
                                    <td class="cha4">
                                        <div class="custom-select " >
                                            <select class="select-horario" name="horarios" id="horarios">
                                                <option value="Horario">Horario</option>
                                                {% for key, itemt in itemc['horarios'] %}
                                                    <option value="{{ key }}"> {{ itemt }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}




        <div class="message-error-carreras"></div>

        <div class="btn_ir btn_ir_modal"> <span> <a id="btn_insCharla" href="">Inscríbete</a> </span> </div>

    </div>
            </div>
        </div>
    </div>

    <div class="modal_incrip">
        <div class="layer_dark"></div>
        <div>
            <div class="cont_inscrip">

                <h2>Inscripción</h2>

                <h4>Ingresa tus datos para inscribirteal Open Ulima</h4>

                {{ form.nombres }}
                {{ form.apellidos }}
                {{ form.dni }}
                {{ form.telefono }}
                {{ form.colegio }}
                {{ form.grado }}
                {{ form.enviar }}


            </div>

            <span class="cerrar"><a href="#">  {{ form.form_build_id  }}
                    {{ form.form_token  }}
                    {{ form.form_id  }} <img src="/themes/ulima/assets/img/png/cerrar.png"/> </a></span>

        </div>


    </div>



{% endif %}
